#mainTitle {
    background-color: black;
    color: cornflowerblue;

    text-align: center;

    border-style: solid;
    border-color: blue;
    border-bottom: 10cm;
    border-radius: 10cm;
    
}