#mainTitle {
    background-color: cadetblue;
    color: black;
    text-decoration: dotted;

    text-align: center;

    border-style: solid;
    border-color: blue;
    border-bottom: 10cm;
    border-radius: 10cm;
    
}