body {
  background-color: black;
}
input {
  background-color: red;
  color: aliceblue;
  font-size: 1.3em;
}
p {
  color: aliceblue;
}

#title {
  color: aliceblue;
  text-align: center;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}

#register-btn {
  background-color: red;
  color: aliceblue;
  width: 100px;
  margin-top: 10px;
}
